*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 90%;
  max-width: 500px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  background-color: rgb(237, 236, 248);
  border-radius: 0.5rem;
}

.display {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(63, 1, 121);
  border: 1px solid red;
}

.main-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  flex-grow: 2;
}

.operator {
  font-size: 1.2rem;
  color: rgb(70, 69, 69);
  padding-left: 5px;
}

.typed {
  font-size: 2rem;
  padding-right: 5px;
}

.secondary-display {
  background-color: rgb(228, 253, 190);
  text-align: start;
  font-size: 1.5rem;
  padding: 0.5rem;
  min-height: 35px;
}

.preview-result {
  background-color: palevioletred;
  text-align: start;
  font-size: 1.2rem;
  columns: grey;
  padding: 0.3rem;
}

.keypad {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(16, 122, 214);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.row1 {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
}

.row2 {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
}

.col1 {
  padding: 0.25rem;
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: rgb(227, 207, 245);
}

.col2 {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
  background-color: rgb(241, 235, 247);
}

.btn {
  border: none;
  background-color: transparent;
  color: black;
  border-radius: 0.25rem;
  padding: 3px;
  font-size: 1.2rem;
}

.btn-nb {
  background-color: white;
}

.btn-op {
  background-color: blue;
  padding: 0.5rem;
  color: white;
}

.btn-clear {
  background-color: rgb(255, 11, 11);
  padding: 0.75rem;
  color: white;
}
